# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [2]:
import pandas  as pd

** Read Salaries.csv as a dataframe called sal.**

In [15]:
sal= pd.read_csv("Salaries - Copy.csv")

** Check the head of the DataFrame. **

In [17]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [19]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [21]:
sal['BasePay'].mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [23]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [25]:
job_title = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']
print(job_title)

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [29]:
totpb = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']
print(totpb)

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [31]:
highest_paid = sal.loc[sal['TotalPayBenefits'].idxmax()]
print(highest_paid['EmployeeName'])

NATHANIEL FORD

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [33]:
lowest_paid = sal.loc[sal['TotalPayBenefits'].idxmin()]
print(lowest_paid['EmployeeName'])

Joe Lopez

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [35]:
average_basepay_per_year = sal.groupby('Year')['BasePay'].mean()
print(average_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [41]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [43]:
top_5_common_jobs = sal['JobTitle'].value_counts().head(5)
print(top_5_common_jobs)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [45]:
job_titles_2013 = sal[sal['Year'] == 2013]['JobTitle']
unique_job_titles_2013 = job_titles_2013.value_counts()
one_occurrence_job_titles = unique_job_titles_2013[unique_job_titles_2013 == 1]
print(one_occurrence_job_titles)

JobTitle
Laboratory Technician I           1
Sctry, Juv Probation Comm         1
Drug Court Coordinator            1
IS Operator-Journey               1
Court Asst., Superior Court       1
                                 ..
Sr General Utility Mechanic       1
Sprv Adult Prob Ofc (SFERS)       1
Mayoral Staff XII                 1
Pr Investigator, Tax Collector    1
Senior Assessment Clerk           1
Name: count, Length: 202, dtype: int64

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [49]:
chief_count = sal[sal['JobTitle'].str.contains('Chief', case=False)].shape[0]
print(chief_count)

627

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [51]:
# Create a new column for the length of the Job Title
sal['title_len'] = sal['JobTitle'].str.len()

# Calculate the correlation between the length of Job Title and Total Pay Benefits
correlation = sal['title_len'].corr(sal['TotalPayBenefits'])
print(correlation)

-0.03687844593260671

We observe that there is a weak -ve correlation therefore we can conclude that there is no significant relation between len of job title and salary